<div class="container mt-4">
    <div class="row">
        <div class="col">
            <a href="#" class="d-block">
                <div class="position-relative w-100 h-100">
                    <div class="bg-light rounded overflow-hidden">
                        <img src="https://b.zmtcdn.com/data/o2_assets/e067a1cf0d3fe27b366402b98b994e9f1716296909.png" 
                             alt="banner" 
                             class="img-fluid rounded">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
