{% extends "nikdip/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<style>
    body {
        background-color: #F4DECB;
    }
</style>

{% include "nikdip/courasel.html" %}
{% include "nikdip/categry.html" %}
{% include "nikdip/indian-banner.html" %}
{% include "nikdip/menucard.html" %}
{% include "nikdip/banner.html" %}
{% include "nikdip/italian.html" %}
{% include "nikdip/dessert.html" %}
{% include "nikdip/adv.html" %}
{% include "nikdip/snacks.html" %}
{% include "nikdip/drinks.html" %}

{% endblock content %}
